<div class="container shadow-sm bg-light rounded">
  <ul class="container d-flex justify-content-between text-center my-1 p-0">
    <li class="col-3 align-item-center">
      <i class="bx bxs-shopping-bag-alt bx-md"></i>
    </li>
    <li class="col-3 flex-column align-item-center">
      <span>{{ this.product.nombre }}</span
      ><br />
      <span class="gris txt-short">{{ this.product.marca }}</span>
    </li>
    <li class="col-3 align-item-center">
      <span>${{ this.product.precio }}</span
      ><br />
      <span class="gris txt-short">Cant: {{ this.product.cantida }}</span>
    </li>
    <li *ngIf="DesactivarDelte == true" class="col-3 align-item-center">
      <button class="btn btn-danger pt-2" (click)="eliminarProduct()">
        quitar
      </button>
    </li>
  </ul>
</div>
