<div class="container bg-white rounded-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#"
        >Sistema de gestion de productos</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          class="btn btn-success float-end my-2"
          data-bs-toggle="modal"
          data-bs-target="#addEmployee"
          type="submit"
        >
          AGREGAR
        </button>
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col" *ngFor="let cabecera of CABECERAS_PRODUCTS">
          {{ cabecera }}
        </th> -->
        <th class="col">{{ this.CABECERAS_PRODUCTS[0] }}</th>
        <th class="col">{{ this.CABECERAS_PRODUCTS[4] }}</th>
        <th class="col coll-3">{{ this.CABECERAS_PRODUCTS[2] }}</th>
        <th class="col coll-2">{{ this.CABECERAS_PRODUCTS[3] }}</th>
        <th class="col coll-1">{{ this.CABECERAS_PRODUCTS[1] }}</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{ item.nombre }}</td>
        <td>{{ item.marca }}</td>
        <td class="coll-3">{{ item.precio }}</td>
        <td class="coll-2">{{ item.unidad }}</td>
        <td class="coll-1">{{ item.categoria }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            style="width: 84px"
            data-bs-toggle="modal"
            data-bs-target="#editEmployee"
            (click)="updateProdect(item)"
            Edit
          >
            Editar
          </button>
          <button
            type="button"
            style="width: 84px"
            class="btn btn-danger"
            (click)="DeleteProduct(item)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-modal-edit></app-modal-edit>
  <app-modal-add></app-modal-add>
</div>
