<p>form-login works!</p>
<div class="container w-75 bg-white mt-5 rounded shadow">
  <div class="row align-tems-streth">
    <div
      class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"
      style="
        background-color: #68e1fd;
        background-image: url(../../../assets/img/Online\ shopping\ _Flatline.svg);
        background-position: center center;
      "
    ></div>
    <!-- login -->

    <div class="col bg-white pt-5 rounded-end">
      <div class="text-end"></div>
      <h2 class="fw-bold text-center pt-5 mb-5">bienvenido</h2>
      <form [formGroup]="login" (ngSubmit)="Login()">
        <div class="mv-4">
          <label for="email" class="form-label">Correo Electronico</label>
          <input
            type="email"
            name="email"
            class="form-control"
            formControlName="email"
          />
        </div>
        <div class="mv-4">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            name="password"
            class="form-control"
            formControlName="password"
          />
        </div>

        <div class="d-grid mt-2">
          <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </div>

        <div class="my-4">
          <span
            >No tienes cuenta ? <a routerLink="/register">Registrate</a></span
          ><br />
        </div>
      </form>

      <!-- login conredes sociales  -->
      <div class="container w-100 my-5">
        <div class="row text-center">
          <div class="col fw-bold">Iniciar seccion</div>
        </div>
        <div class="row">
          <div class="col">
            <button
              class="btn btn-outline-danger w-100 my-1"
              (click)="LoginWithGoogle()"
            >
              <div class="row align-text-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../../assets/img/google.svg" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Google</div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
