<div class="container w-75 bg-white mt-5 rounded shadow">
  <div class="row align-tems-streth pb-0">
    <div
      class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"
      style="
        background-color: #68e1fd;
        background-image: url(../../../assets/img/Online\ shopping\ _Flatline.svg);
        background-position: center center;
      "
    ></div>
    <!-- login -->

    <div class="col bg-white pt-5 rounded-end">
      <div class="text-end"></div>
      <div *ngIf="this.isInvalid">
        <small class="text-danger fw-bold">{{ MESSAGE_ERROR }}</small>
      </div>
      <h2 class="fw-bold text-center pt-2 mb-5">REGISTRO DE USUARIO</h2>

      <form [formGroup]="registro" (ngSubmit)="registar()">
        <span class="form-label">Nombres y Apellidos</span>
        <div class="input-group mt-2">
          <input
            type="text"
            aria-label="Nombre"
            formControlName="nombre"
            placeholder="Nombres"
            class="form-control"
            [class.is-invalid]="registro.get('nombre')?.errors?.['required'] && registro.get('nombre')?.touched"
          />
          <input
            type="text"
            aria-label="Apellido"
            formControlName="apellido"
            placeholder="Apellidos"
            class="form-control"
            [class.is-invalid]="registro.get('apellido')?.errors?.['required'] && registro.get('apellido')?.touched"
          />
        </div>
        <!-- <div class="mv-4">
          <label for="codigo" class="form-label">Codigo</label>
          <input
            type="number"
            name="codigo"
            class="form-control"
            formControlName="codigo"
          />
        </div> -->
        <!-- <div class="mv-4">
          <label for="Telefono" class="form-label">Telefono</label>
          <input
            type="number"
            name="Telefono"
            class="form-control"
            formControlName="Telefono"
          />
        </div> -->
        <div class="mv-4 mt-4">
          <label for="email" class="form-label">Correo</label>
          <input
            type="email"
            name="correo"
            class="form-control"
            formControlName="correo"
            [class.is-invalid]="
              registro.get('correo')?.invalid && registro.get('correo')?.touched
            "
          />
          <div
            *ngIf="(getEmail?.invalid && getEmail?.touched) || getEmail?.dirty"
          >
            <small *ngIf="getEmail?.errors?.['required']" class="text-danger"
              >este campo es necesario</small
            >
            <small *ngIf="getEmail?.errors?.['pattern']" class="text-danger"
              >Introdusca un correo valido</small
            >
          </div>
        </div>
        <div class="mv-4">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            name="password"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="registro.get('password')?.errors?.['required'] && registro.get('password')?.touched"
          />
          <div
            *ngIf="
              (getCampo('password')?.invalid &&
                getCampo('password')?.touched) ||
              getCampo('password')?.dirty
            "
          >
            <!-- <small
              *ngIf="getCampo('password')?.errors?.['required']"
              class="text-danger"
              >este campo es necesario</small
            > -->
            <small *ngIf="passwordLength.length < 8" class="text-danger">
              Contraseña de tener minimo 8 caracteres</small
            >
          </div>
        </div>
        <div class="mv-4">
          <label for="repetpassword" class="form-label"
            >Confirmar Contraseña</label
          >
          <input
            type="password"
            name="rp-password"
            class="form-control"
            formControlName="rp_password"
            [class.is-invalid]="registro.get('rp_password')?.errors?.['required'] && registro.get('rp_password')?.touched"
          />

          <div *ngIf="passwordValidate && controlName('rp_password')?.touched">
            <small class="text-danger">contraseña no coinciden</small>
          </div>
        </div>

        <div class="d-grid py-3">
          <button type="submit" class="btn btn-primary">REGISTRAR</button>
        </div>
      </form>
    </div>
  </div>
</div>
