<div class="container border shadow-sm text-center p-0 mb-2">
  <div class="container d-flex align-items-center">
    <div class="col">
      <i class="bx bxs-shopping-bag-alt bx-md"></i>
    </div>
    <div class="col flex-column">
      <div class="p-1">{{ this.compra.tipo }}</div>
      <div class="p-2 gris txt-short">{{ this.compra.fecha }}</div>
    </div>
    <div class="col">
      <span>${{ this.compra.valor }}</span>
    </div>
    <div class="col bt">
      <span
        *ngIf="this.compra.estado == 'pendiente'"
        class="btn btn-warning bt tx"
        >{{ this.compra.estado }}</span
      >
      <span
        *ngIf="this.compra.estado == 'hecho'"
        class="btn btn-success bt tx"
        >{{ this.compra.estado }}</span
      >
      <span
        *ngIf="this.compra.estado == 'cancelado'"
        class="btn btn-danger bt tx"
        >{{ this.compra.estado }}</span
      >
    </div>
  </div>
</div>
