<header class="header">
  <nav class="nav container">
    <a class="header__logo">STORE</a>

    <div class="nav__menu" id="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a routerLink="/inicio" class="nav__link active__link">
            <i class="bx bx-home-smile"></i>
            <span class="nav__name">Inicio</span>
          </a>
        </li>

        <li class="nav__item">
          <a routerLink="/productos" class="nav__link">
            <i class="bx bxs-shopping-bag-alt"></i>
            <span class="nav__name">Productos</span>
          </a>
        </li>

        <li class="nav__item">
          <a routerLink="/tienda" class="nav__link">
            <i class="bx bxs-store-alt"></i>
            <span class="nav__name">Tiendas</span>
          </a>
        </li>
        <li *ngIf="true" class="nav__item">
          <a routerLink="/credito" class="nav__link">
            <i class="bx bxs-credit-card"></i>
            <span class="nav__name">Credito</span>
          </a>
        </li>
      </ul>
    </div>
    <app-card-perfil></app-card-perfil>
  </nav>
</header>
